.hh-highlight {
  background: #ff0033;
  color: #fff;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}

.hh-secondaryhighlight {
  background: #ffff33;
  color: #000;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}
